
<footer class="bg-gray-800 pt-10 mt-32 sm:mt-10 pt-10">
    <div class="max-w-6xl m-auto text-gray-800 flex flex-wrap justify-left">
        <!-- Col-1 -->
        <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
            <!-- Col Title -->
            <div class="text-xs uppercase text-gray-400 font-medium mb-6">
               Resources
            </div>

            <!-- Links -->
            <a href="mailto:contact@hiroshilabs.org" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                Contact Us
            </a>
            <a href="https://docs.clot.me/" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                API Documentation
            </a>
            <a href="https://github.com/Mairon31/clot" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                Github Repository
            </a>
        </div>

        <!-- Col-3 -->
        <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
            <!-- Col Title -->
            <div class="text-xs uppercase text-gray-400 font-medium mb-6">
                Partners
            </div>

            <!-- Links -->
            <a href="https://jean.host" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                Jean Host
            </a>
            <a href="https://rip.codes" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                RIP Codes
            </a>
            <a href="https://animearch.com" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                AnimeArch
            </a>
            <a href="https://netsu.xyz" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                Netsu
            </a>
        </div>
      
      
  <!-- Col-4 -->
        <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
            <!-- Col Title -->
            <div class="text-xs uppercase text-gray-400 font-medium mb-6">
                Legal
            </div>

            <!-- Links -->
            <a href="/terms-and-conditions" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                Terms and Conditions
            </a>
            <a href="/privacy" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                Privacy Policy
            </a>
        </div>
  
  <!-- Col-3 -->
        <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
            <!-- Col Title -->
            <div class="text-xs uppercase text-gray-400 font-medium mb-6">
                Company
            </div>

            <!-- Links -->
            <a href="https://hiroshilabs.org" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                Hiroshi Labs
            </a>
            <a href="https://github.com/HiroshiLabs" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                Organization
            </a>
        </div> 
    </div>  

    <!-- Copyright Bar -->
    <div class="pt-2">
        <div class="flex pb-5 px-3 m-auto pt-5 
            border-t border-gray-500 text-gray-400 text-sm 
            flex-col md:flex-row max-w-6xl">
            <div class="mt-2">
                © Copyright <strong>Hiroshi Labs</strong>. All Rights Reserved.
            </div>

            <!-- Required Unicons (if you want) -->
            <div class="md:flex-auto md:flex-row-reverse mt-2 flex-row flex">
                <a href="#" class="w-6 mx-1">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://twitter.com/hiroshilabs" class="w-6 mx-1">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#" class="w-6 mx-1">
                    <i class="fab fa-youtube"></i>
                </a>
                <a href="#" class="w-6 mx-1">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="#" class="w-6 mx-1">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
</footer>