<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
    <title>Clot Shortener</title>
</head>

<body class="bg-gray-900">
    <!-- Navbar -->
   <%- include("../partials/navbar.ejs") %>  
  <br />
  <!-- End navbar -->
    <main class="container mx-auto">
      <h1 class="mt-24 text-white font-bold text-5xl text-center">404</h1>
      <p class="text-white text-center">The page you requested was not found.</h1>
      <br />
      <br />
      <br />
      <a href="/" class="mt-16 transition duration-200 px-5 py-4 cursor-pointer font-normal text-sm rounded-lg text-gray-500 hover:bg-transparent focus:outline-none focus:bg-transparent focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50 ring-inset">
                <i class="fas fa-arrow-left"></i>
                <span class="inline-block ml-1">Back to home</span>
            </a> 
  </main>
  <%- include("../partials/footer.ejs") %>
</body>
<script src="js/app.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

</html>